{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} BRITISH MERLINBLUE {% endblock %}</title>
   <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">BRITISH MERLINBLUE</a>
                <p> GATERIA FAMILIAR DE BRITISH SHORT HAIR & LONGHAIR</p>
            </div>
            <ul>
                <li><a href="{% url 'home' %}"> NUESTRA FAMILIA </a></li>
                <li><a href="{% url 'machos' %}">MACHOS</a></li>
                <li><a href="{% url 'hembras' %}">HEMBRAS</a></li>
                <li><a href="{% url 'catList' %}">GATITOS</a></li>
                <li><a href="{% url 'catList' %}">PLANES</a></li>
                <li><a href="{% url 'catList' %}">CONDICIONES</a></li>
                <li><a href="{% url 'about' %}">CONTACTO</a></li>
                <li><a href="{% url 'catList' %}">IDIOMA</a></li>
{#                <li><a href="{% url 'contact' %}">Contact</a></li>#}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

   <footer>
    <p>&copy; 2024 Cat Website. All rights reserved.</p>
    <div class="socials">
        {% for social in socials %}
            <a href="{{ social.url }}" target="_blank">{{ social.name }}</a>
        {% endfor %}
    </div>
</footer>
</body>
</html>